:root {
    --rouge : #a1051d;
    --write : #212121;
}

.helptext
{
    display: none;
}

.center-login , .center-signup
{
    position: relative;
    top: 80%;
    left: 35%;
    width: 450px;
    background: #FEFBF3;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 4px var(--rouge);
}



.center-login h1 , .center-signup h1
{
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: var(--rouge);
}

.center-login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .design-input 
{
    position: relative;
    border-bottom: 1px solid red;
    margin: 30px 0;
}
form label {
    font-size: 16px;
    font-weight: 700;
    pointer-events: none;
    color: var(--rouge);
}

form input 
{
    width: 90%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: 1px double var(--rouge);
    background: none;
    outline: none;
}

.btn-signup
{
    width: 90%;
    height: 40px;
    border: 1px solid;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    background: var(--rouge);
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    margin-bottom: 16px;
}

#btn-login
{
    width: 100%;
    height: 40px;
    border: 1px solid;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    background: var(--rouge);
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

.signup-link 
{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.disp-label {
    display: none;
}

@media (max-width: 765px)
{
    .center-login {

        width: 100%;
        left: 0;
    }
    
}

@media (max-width: 765px) {
    .center-signup {
        width: 100%;
        left: 0;
    }
}


#dash-design 
{
    position: relative;
    left: 35%;
    width: 350px;
    height: 350px;
    border-radius: 15px;

}

#dash-design h1 {
    color: #fff;
    background: var(--rouge);
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid silver;
}
#dash-design p {
    text-align: center;

    width: 100%;
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: underline;
    padding: 0 5px;
    height: 30px;
}

#dash-design p a {
    color: black;
    text-transform: uppercase;
    font-size: 16px;

    
}

#profil-user-design {

    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    height: 450px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px var(--rouge);

}

#profil-user-design input {
    width: 100%;
}

#profil-user-design textarea
{
    width: 100%;
    padding: 0 5px;
    height: 80px;
    font-size: 16px;
    border: 1px double var(--rouge);
    background: none;
    outline: none;
}

#profil-user-design h2 {
    text-align: center;
    border-bottom: 1px solid silver;
    padding:  0 0 5px 0;
}

#profil-user-design form {
    padding: 0 40px;
    box-sizing: border-box;
}

#center-job-div {
    position: relative;

    left: 35%;

    width: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px  var(--rouge);
    text-align: center;
}

#center-job-div p 
{
    padding: 1px 1px 8px 0;
    border-bottom: 1px double var(--rouge);
    font-weight: bold;
    
}

#center-job-div h1  {
    color: var(--rouge);
    text-transform: uppercase;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--rouge);
}
#center-job-div h4 {
    padding: 1px 2px 10px;
}
#center-job-div h4 a{
    color: var(--write);
    
}

#center-job-div h4 a:hover {
    text-decoration: underline;
}

@media (max-width: 765px) {
    #center-job-div {
        width: 100%;
        height: auto;
        left: 0;

    }

    #dash-design {
        left: 5%;
    }
    #dash-design p {
        margin-bottom: 10px;
        font-weight: 700;
    }

}

.inputs-design {

    position: relative;
    left: 30%;
    width:500px;
    background: #fff;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px var(--rouge);

}

.inputs-design h2 {
    text-align: center;
    color: var(--rouge);
    text-transform: uppercase;
    padding: 0 0 10px 0;
    border-bottom: 1px solid var(--rouge);

}

.inputs-design textarea 
{
    width:  90%;
    padding: 0 5px;
    height: 90px;
    font-size: 18px;
    font-weight: 700;
    border: 4px double var(--rouge);
    background: none;
    color: var(--rouge);
    resize: none;
    margin-left: .68rem;
    margin-bottom: .68rem;

}
.inputs-design input
{
    width:  90%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: 1px double var(--rouge);
    background: none;
    outline: none;
}

.inputs-design input[type=file]

{
    width: 90%;
    height: 35px;
    border: 1px solid var(--rouge);
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-radius: 25px;
    background: var(--rouge);
}

.inputs-design #btn-profil {

    width: 100%;
    height: 40px;
    border: 1px solid;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    background: var(--rouge);
    cursor: pointer;
    border-radius: 25px;
    outline: none;

}



.btn-design-job {
    width: 100%;
    height: 40px;
    border: 1px solid;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    background: var(--rouge);
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

.inputs-design h1 , .inputs-design2 h1
{
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: var(--rouge);
}

.inputs-design2 {
    position: relative;
    left: 30%;
    width:500px;
    background: #fff;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px var(--rouge);
}

@media (max-width: 765px) {
    .inputs-design  {
        width: 100%;
        left: 0;
    }

    .inputs-design2
    {
        width: 100%;
        left: 0;
    }
    .inputs-design2 input {
        width: 92%;
    }
}