#formprojet 

{
    position: relative;
    left: 28%;
    width: 500px;
    background: #fff;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px var(--rouge);
}

#formprojet input 

{
    width:  90%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: 1px solid var(--rouge);
    background: none;
    outline: none;
    margin-left: .68rem;
}

#formprojet textarea 
{
    width:  90%;
    padding: 0 5px;
    height: 70px;
    font-size: 16px;
    border: 2px solid var(--rouge);
    background: none;
    color: var(--rouge);
    resize: none;
    margin-left: .68rem;
    margin-bottom: .68rem;
    
}

#formprojet input[type=select]
{
    margin-bottom: 2rem;
    font-size: 30px;
}

.btn-projet 
{
    width: 99%;
    height: 40px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    background: var(--rouge);
    cursor: pointer;
    border-radius: 3%;
    outline: none;
    margin-bottom: 16px;
}

@media (max-width: 765px)
{
    #formprojet
    {
        left: 0;
        width: 100%;
    }
}