.global-company
{
    
        display: grid;
        grid-template-columns: repeat(2, 600px 500px);
        margin-top: 25px;
        
}

#ul-categ-company
{
    height: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-bottom: 20px;
}

#ul-categ-company li a
{
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    text-transform: uppercase;
    color: var(--rouge);
    margin-left: 20px;
    
}

#ul-categ-company li
{
    margin: 2px;
    text-align: center;
    border-radius: 12%;
    
}

#ul-categ-company li a:hover
{
    background: var(--rouge);
    color: white;
}

#all-catego
{
    text-align: center;
    align-items: center;
    border-bottom: 2px solid var(--rouge);
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--rouge);
}

.content-info-company
{
    display: flex;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 2px 2px 3px 4px #F3F1F5;
    background-blend-mode: multiply;
    width: 90%;
}


.company-image 
{
    width: 200px;
    height: auto;
    margin-right: 16px;
    margin-left: 19px;
}

.company-image img {
    width: 100%;
}

.company-info h4 a
{
   color: var(--rouge); 

}

.company-info h4 a:hover 
{
    background: var(--rouge);
    color: #fff;
}

.opacity-info 
{
    opacity: 0.7;
}

.marg-icon 
{
    margin-right: 8px;
    color: var(--rouge);
}




@media (max-width: 909px)
{
    .global-company{display: block;}
    .content-info-company { width: 97%;}
    #ul-categ-company {
        height: 44px;
    }
}

@media (max-width: 1009px)
{

}

.one-content-arhives
{
    display: grid;
    grid-template-columns: repeat(2,800px 400px);
    margin-top: 25px;
}

.infos-archives 
{
    padding: 2px;
    box-shadow: 2px 3px 3px 4px #F3F1F5;
    width: 620px;
    margin-left: 20px;
}

.images_archives
{
    width: 748px;
    height: auto;
    
}

.images_archives img
{
    width: 100%;
}
.infos-archives
{
    
    width: 750px;
}

.infos-archives h1
{
    background: #b81b30;
    color: white;
}

.infos-archives p {
    font-size: 14px;
}

.infos-archives #detail-company {
    font-size: 20px;
}
.more-infos-archives

{
    height: 150px;
    background: #F7F7F7;
    box-shadow: 3px 2px 3px 5px #F3F1F5;
}

.about-us 
{
    width: 97%;
    box-shadow: 2px 2px 3px 2px #FFF8F3;
    margin-left: 20px;
}
.about-us h2 
{
    color: var(--rouge);

    font-size: 18px;
}

@media (max-width: 795px)
{
    .one-content-arhives{display: block;}
    .infos-archives{width: 95%; margin-left: 8px; padding: 0; margin-bottom: 20px;}
    .images_archives{width: 98%;}
    .more-infos-archives{height: auto;}

    .about-us {width: 96%; margin-left: 2px;}
}