{% extends 'base.html' %}

{% block content %}
<div class="about-us">

    <h2>Marketing</h2> 

    <p>
     1-Notre service  consister a vous  apporter notre aider dans la gestion de 
     vos pages sur les réseaux sociaux et  par l’entremise de nos consultation vous 
     aider a donner une visibilité accentuer vos produits et entreprises.
    </p>

     <p>
         2-Nous offrons aussi le service marketing digital ,en assurant 
     votre indentite visuel plus precisement dans la création de logo, 
     flyers ,banner ,carte de visite etc… 
     </p>

     <h2>Formation</h2>

                 <p>
                     kikote vous donne accès a des séance de formations en ligne ou en présentiel sur les 
                     termes suivants: cryptomonnaie, programmation et traiding etc... Grace a votre statut
                     d’utilisateur et a l’aide de nos différent pages vous aurez les informations nécessaire sur
                     la tenue de ces différentes séance de formations.
                     L’apprentissage est l’essence de tout succès n’hésiter pas 
                     a participer a chacune de nos séance.
                 </p>


             <h2>Description</h2>

                     <p>
                         kikote se donne pour tache d’exposer et de répertorier les différents 
                         entreprises de la place a travers des services et contrats offerts a leur 
                         contacts  et multiples abonnée. Notre plateforme kikote permet aussi aux 
                         utilisateurs ayant une expérience professionnel ou étant  détenteur d’un 
                         diplôme de se faire connaître par l’ajout de leur portfolio sur le site en 
                         de vue d’accroître leur chance de réussite sur le marcher du commerce et du travail.
                     </p>

                 <h2>
                     Ce que vous propose kikote
                 </h2>

                 <p>
                     kikote propose au professionnel  ayant un statut d’utilisateur d’obtenir
                     une  autre visibilité en ajoutant leur portfolio sur notre plateforme et 
                     aux entreprise en mettant a la disposition du publique  leur adresse et  
                     coordonner si nécessaire .L’équipe technique de kikote dans le but vous 
                     servir et de vous facilite la vie , travail sur un projet de store en ligne 
                     disponible pour achat et vente .Nos utilisateur auront accès  a cette fonctionnalité 
                     pour pouvoir mettre leur portfolio dans notre store en ligne . Cette fonctionnalité 
                     sera complète et opérationnel dans le courant du mois de mai 2022

                 </p>

                 <h2>Comment nous pouvons vous aider en marketing ?</h2>

                     <p>
                         1-Désireux de faire l’objet de l’une des promotions de notre plateforme ou
                         de nos pages actives et  possédant un statut d’utilisateur de kikote vous 
                         pouvez tout simplement nous écrire sur ce courriel et suivre les instruction requise .

                     </p>
<p>
 2- S vous professionnel ou votre entreprise ne font
pas partie des utilisateur de kikote,il est impérativement
recommande de vous  procurer un compte sur notre plateforme. 
cliquer sur [marketing]   dans le menu de dash bord et suivez les instruction.
</p>

<p>
 3- Si vous voulez une publicité en particulier ou si vous avez
des directives personnelle vous pouvez nous contacter sur ce courriel 

</p>

<h2>Notre équipe</h2> 
<p>
 notre équipe est constituer de personne qualifie en marketing digital, développement 
 web , gestion et développement d’entreprise,création de site,gestion de page ,designer et autre …
Nous avons aussi une équipe de formateur disponible pour vous encourager et vous aider 
a investir  votre temps et votre argent dans le monde de la cryptomonnaie.
</p>

</div>

{% endblock %}