{% extends 'base.html' %}

{% block content %}
<div class="about-us">

    <h2>Marketing</h2>


<p>1- Notre service consiste à vous apporter notre aide dans
     la gestion de vos pages sur les réseaux sociaux. Nous vous 
     offrons une vitrine pour mieux vendre votre entreprise et vos 
     produits et vous rapprocher du public en publiant vos coordonnées.</p>

<hr>

<p>2-Nous offrons aussi le service marketing digital pour assurer votre
     identité visuelle en créant votre logo, vos flyers, vos banners et vos cartes de visite. </p>


<h2>Formation</h2>


<p>kikote vous offre des séances de formation en ligne ou en présentiel
    sur les termes suivants: cryptomonnaie, programmation et trading. </p>

<hr>

<p>Grace à votre statut d’utilisateur et à l’aide de nos différentes pages, 
    vous aurez les informations nécessaires sur la tenue de ces différentes 
    séances de formations. L’apprentissage étant l’essence de tout succès, n’hésitez pas à y participer.</p >


<h2>Description</h2>

<p>kikote se donne pour tâche de répertorier et d'exposer à ses multiples abonné.e.s 
    les différentes entreprises de la place et leurs services offerts. Notre plateforme 
    kikote permet aussi aux utilisateurs ayant une expérience professionnelle ou détenteur 
    d’un diplôme de se faire connaître par l’ajout de leurs portfolios sur le site en de vue 
    d’accroître leur chance de réussite sur le marché du travail.</p>

<hr>

<p>Kikote propose aux professionnels ayant un statut d'utilisateur et/ou détenteurs d'un diplôme
     d'obtenir une visibilité sur le marché du travail et d'accroitre ainsi leurs chances de se
      faire embaucher.</p>

<hr>

<iframe style="width:300px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
 frameborder="0" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=FR&source=ac&ref=tf_til&ad_type=product_link&tracking_id=kikoteayiti50-21&marketplace=amazon&amp;region=FR&placement=B07XJNV4BN&asins=B07XJNV4BN&linkId=93b0fd004d479a6c16b0cb767ae5feda&show_border=true&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff" id="pubamazone">
</iframe>

<p>Dans le but de vous servir et de vous faciliter la vie, l'équipe technique de Kikote travaille
     sur un projet de store en ligne disponible pour achat et vente. Cette fonctionnalité sera
      complète et opérationnelle dans le courant du mois de mai 2022.</p>

<h2>Comment pouvons-nous vous aider en marketing ? </h2>

<p>1- si vous avez le statut d'utilisateur de Kikote et que vous souhaitez faire l’objet de
     l’une des promotions de notre plateforme ou de nos pages, vous pouvez tout simplement nous
      écrire sur ce courriel et suivre les instructions requises.</p>
<hr>

<p>2- S vous êtes un.e professionnel.le et/ou votre entreprise ne font pas partie des utilisateurs
    de kikote, vous pouvez créer votre compte et cliquez sur [marketing] dans le menu de dash bord et suivez les instructions.</p>

<hr>

<p>3- Si vous voulez une publicité en particulier ou si vous avez des directives personnelles,
     vous pouvez nous contacter sur ce courriel
</p>

<iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=48&l=ur1&category=electronics&banner=1QQS1EMDA6ZHNZJK0482&f=ifr&linkID=0d4e0f878d60b96e069376ce4a8cf93c&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

<h2>Notre équipe</h2>

<p>notre équipe est constituée de personnes qualifiées en marketing digital, développement web, 
    gestion et développement d’entreprise, création de site, gestion de page, designer et autres.
     Nous avons aussi une équipe de formateurs disponibles pour vous encourager et vous 
    aider a investir votre temps et votre argent dans le monde de la cryptomonnaie.</p>

    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=26&l=ur1&category=electronics&banner=1EHKJJ5FT55Y7YD9G0G2&f=ifr&linkID=1a1953b1d9f78c43cd1c5ac828c9ff92&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="468" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

{% endblock %}