
{% extends 'base.html' %}

{% block content %}

<div id="dash-design">

        <h1> Menu <i class="fas fa-check-double"></i></h1>
    
                <p> <i class="fas fa-angle-double-right"></i>  <a href="{% url 'changeprofil' %}">Modifier votre profil</a>
                        <i class="fas fa-id-card"></i></p>

                <p>  <i class="fas fa-angle-double-right"></i>  <a href="{% url 'projects' %}">Ajouter un (Portefolio)</a>
                        <i class="fas fa-plus-circle"></i></p>


                <p>  <i class="fas fa-angle-double-right"></i>  <a href="{% url 'mypotfolios' %}">Visitez votre (Portefolio)</a>
                        <i class="fas fa-laugh"></i></p>
                
                

</div>

{% endblock %}

