
{% extends 'base.html' %}

{% block content %}

<div id="dash-design">

        <h1>opsyon nou yo</h1>
    
                <p><a href="{% url 'changeprofil' %}">Modifye profil ou</a></p>
                <p><a href="{% url 'projects' %}">Ajoute yon Potfolio </a></p>
                <p><a href="{% url 'mypotfolios' %}">Potfolio ou yo</a></p>
                <p><a href="#">Sevis referans</a></p>
                <p><a href="#">Kominote Kripto</a></p>
                <p><a href="#">Vinn yon patne</a></p>
                

</div>

{% endblock %}

