{% extends 'base.html' %}

{% block title %} Page d'Accueil  {% endblock %}

{% load static %}
{% block content%}

    <!-- pou description projet an -->

    <div class="section-global">

        <div class="section-global-content">
            <h1>Bienvenue </h1>
            <h3>Kikote</h3>

            <hr>
            <div id="p-span">

                <p>
                    kikote se donne pour tâche de répertorier et d'exposer à ses 
                multiples abonné.e.s les différentes entreprises de la place et
                 leurs services offerts. Notre plateforme kikote permet aussi aux 
                 utilisateurs ayant une expérience professionnelle ou détenteur d’un 
                 diplôme de se faire connaître par l’ajout de leurs portfolios
                 sur le site en de vue d’accroître leur chance de réussite sur le marché du travail.
                </p>
            </div>

            <button class="btnpam btn01"><a href="#">FAQ</a></button>
            <a href="{% url 'connexion' %}"><button class="btnpam btn02">Se connecter</button></a>

            <div class="social-media-content ">
            
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
            </div>

        </div>

        <!-- <div class="global-immage">
            <img src="{% static 'gps1.png' %}" alt="">

        </div> -->

    </div>

    <div>
        <h2>Voir nos articles <a href="{% url 'artposts' %}">cliquez ici </a> </h2>
    </div>

    <div>
        <h2 id="all-catego">categorie(s)</h2>
    <ul id="ul-categ-company">
        <li><a href="{% url 'firststep' %}">Tout</a></li>
        {% for i in categories %}
            <li><a href="{% url 'allcatego' i.slug %}">{{ i.name }} </a></li>
            {% empty%}
            <h5>Pas de categorie pour l'instant</h5>
        {% endfor %}
    </ul>
    </div>




   
    <!-- pou liste tout antrepriz yo net -->

    <div class="global-company">
        <div class="content-company">
            <!-- <div>
                    <h2>categorie(s)</h2>
                <ul id="ul-categ-company">
                    <li><a href="{% url 'firststep' %}">Tout</a></li>
                    {% for i in categories %}
                        <li><a href="{% url 'allcatego' i.slug %}">{{ i.name }} </a></li>
                        {% empty%}
                        <h5>Pas de categorie pour l'instant</h5>
                    {% endfor %}
                </ul>
            </div> -->

            <!-- <div>
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=288&l=ur1&category=prime_video&banner=1MMB6DFN40NE65X5R3R2&f=ifr&linkID=af86f71714afd00aa0dd9e55d3cd9b5c&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
            </div> -->
            {% for i in places %}

                    
                <div class="content-info-company">
                    <div class="company-image">
                        {% if i.image_one %}
                        <img src="{{ i.image_one.url }}" alt="">
    
                        {% else %}
    
                        {% endif %}
    
                    </div>
    
                    <div class="company-info">
                        <h4><a href="{% url 'detay' i.id %}"> {{ i.name }} </a></h4>
                        <p class="opacity-info"> <i class="fas fa-map-marker-alt marg-icon"></i>{{ i.adress }} </p>
                        <p class="opacity-info"> <i class="fas fa-phone-square-alt marg-icon"></i>{{ i.phone_one }}</p>
                        <p class="opacity-info"> <a href="{% url 'detay' i.id %}"><i class="fas fa-info-circle marg-icon"></i>lire plus </a></p>
                    </div>

                </div>

                {% empty %}
                <h5>Pas de contenu pour l'instant </h5>

            {% endfor %}

            <div id="paginator" style="margin-left: 20px;">
                {% if places.has_previous %}
                <a href="{% url 'firststep' %}?page={{places.previous_page_number}}"> <i class="fas fa-angle-double-left"></i> Avant ~~</a>
                {% endif %}

                {% if places.has_next %}
                    <a href="{% url 'firststep' %}?page={{places.next_page_number}}"> ~~ Après <i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </div>     

        </div>

        <!-- Pati pou entreprise yo -->

        <!-- <div>
            <div>
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=42&l=ur1&category=audible&banner=0RKM5MR1KHXR0033K6G2&f=ifr&linkID=d1e3a58f35113965ba9d537d24a47147&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

                <br>
                <hr>
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=20&l=ur1&category=audible&banner=0436DM8H5F3TJGX49NG2&f=ifr&linkID=8b51b0ec41077a7c901866cf4985f21e&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="120" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

            </div>

        </div> -->
    </div>
    <!--
        fen pati antrepriz lan 
        pati sa gen tout antrepriz ak tout kategori yo la
    -->

    <!-- <div class="container-one">
        <div class="container-job">

            
                {% for item in work %}
                
                    <div class="design-job-content">
                        <h2><a href="{% url 'details-work' item.id %}">{{ item.title }}</a></h2>
                        <p> imel : {{ item.email }}</p>
                        <p> dat-limit :{{ item.date_to }}</p>
                    </div>
                    

                {% endfor %}
            

        </div>

        <div class="container-job">

            <div>
                <h2>mwen se pati 2</h2>
            </div>

        </div>
    </div> -->

{% endblock %}












 <!-- pou pati sevis entreprise lan -->

 <!-- <div class="container-title">
    <h3 id="title-container-design">Nos Services</h3>

    <div class="container-service">
        <div class="service-design">
            <h1>Marketing</h1>
            <p>
                Notre service consiste à vous apporter notre aide dans la gestion de 
                vos pages sur les réseaux sociaux. Nous vous offrons une vitrine pour mieux 
                vendre votre entreprise et vos produits et vous rapprocher du public en publiant vos coordonnées.
            </p>
        </div>


        <div class="service-design">
            <h1>Formation</h1>
            <p>
                kikote vous offre des séances de formation en ligne ou en présentiel sur les termes suivants: cryptomonnaie, programmation et trading.
                <hr>

                <p>
                    Grace à votre statut d’utilisateur et à l’aide de nos différentes pages, vous aurez les informations nécessaires sur la tenue de ces différentes séances 
                    de formations. L’apprentissage étant l’essence de tout succès, n’hésitez pas à y participer.
                </p>
            </p>
        </div>

        <div class="service-design">
            <h1>Marketing Digital </h1>
            <p>Nous offrons aussi le service marketing digital pour assurer votre identité
                 visuelle en créant votre logo, vos flyers, vos banners et vos cartes de visite. </p>
        </div>
    </div>
</div> -->
