{% extends 'base.html' %}

{% block content %}


     <div class="global-design">
    
         <div>

            <div style="width: 90%;">
                <ul id="ul-categ">


                    <li><a href="{% url 'alltextes' %}" class="active">Nos Textes</a></li>
                    {% for link in all_categs %}
                    <li><a href="{% url 'bycateg' link.slug %}">{{ link.name }} </a></li>
                    {% endfor %}
                    
                    
                </ul>
    
            </div>
            <h4><a href="{% url 'firststep' %}" style="color: var(--rouge);">Accueil</a>
                <i class="fas fa-chevron-circle-right"></i>
                Contenu(s)
                <i class="fas fa-chevron-circle-right"></i>
                <a href="{% url 'artposts' %}" style="color: var(--rouge);">Liste Article</a>

            </h4>

            <hr>


            <div class="search-potfo">
                <form>

                    <input name="q" type="text" placeholder="Rechercher par Auteur | Titre">
                    <button class="btn-potfolio">Recherche</button>
                </form>
            </div>

            <div class="content-apercu"><i class="fa fa-spinner fa-spin"></i></div>

            {% for i in all_posts %}
                    
                <div class="content-apercu">
                    <h3><a href="{% url 'detailtextes' i.id %}">{{ i.title }}</a></h3>
                    <h4>{{ i.author }} </h4>
                    <p>{{ i.categorie }} </p>
                    <hr style="margin-bottom: 26px;">
                </div>

            {% endfor %}
            
            <!-- <div>
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=42&l=ur1&category=amu&banner=0NHNX3ZTGPEDTG16GJG2&f=ifr&linkID=53a2d639331070078e93df5022f2cfc3&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                <br>
                <hr>
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=42&l=ur1&category=audible&banner=1VN5C02CS47TWN32P582&f=ifr&linkID=55bda87e3f713222bac6fd43843d1daf&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
               
            </div> -->
                
            <div id="paginator" style="margin-left: 20px;">
                {% if all_posts.has_previous %}
                <a href="{% url 'alltextes' %}?page={{all_posts.previous_page_number}}"> <i class="fas fa-angle-double-left"></i>Avant </a>
                {% endif %}

                {% if all_posts.has_next %}
                    <a href="{% url 'alltextes' %}?page={{all_posts.next_page_number}}">Après<i class="fas fa-angle-double-right"></i></a>
                {% endif %}
            </div>  

            <hr>
            <br>
            <div>
                <h4>Pour lire nos Article <a href="{% url 'artposts' %}">Cliquez ici</a></h4>
            </div>

            

         </div>


            <!--  ******************************************************************  -->
         <div class="more-read-text">
             <h2 style="font-size: 16px">les plus visités</h2>

                {% for i in more_read %}

                    <div class="more-read">
                        <h4><a href="{% url 'detailtextes' i.id %}">{{ i.title }}</a> </h4>
                        <p>{{ i.author }} </p>
                    </div>

                {% endfor %}
                     
            <!-- <div>

                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=42&l=ur1&category=audible&banner=1VN5C02CS47TWN32P582&f=ifr&linkID=55bda87e3f713222bac6fd43843d1daf&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

                <br> 
                <hr>
                <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=42&l=ur1&category=audible&banner=0RKM5MR1KHXR0033K6G2&f=ifr&linkID=fcddcb9269c2c1f298ac673ff2cbc7b0&t=kikoteayiti50-21&tracking_id=kikoteayiti50-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

             </div> -->

         </div>
     </div>

{% endblock %}

<!-- <script>

    let links = document.querySelectorAll(".cat-link");
    links.forEach((el) => {
        el.addEventListener('click', getPosts)
    });

    function getPosts(event){
        let slug = event.getAttribute('data-slug');

        let xhr = new XMLHttpRequest()

        xhr.onreadystatechange = function(data) {
            if (this.readyState == 4 && this.status == 200) {
                let response = data.responseJson;


            }
        };


        xhttp.open("GET", `?cat=${slug}`, true);
        xhttp.send();
    }
    
</script> -->