.div-portefolio-detail
{
    width: 90%;
    height: auto;
    border: 1px solid silver;
}

.font-size-item
{
    font-size: 14px;
}

@media (max-width: 750px)
{
    .div-portefolio-detail{width: 98%;}
}