.detail-arts
{
    display: grid;
    grid-template-columns: repeat(2, 800px 500px);
    margin-left: 40px;
}



.second-details
{
    
}

.first-arts
{
    
}

.detail-image 
{
    width: 98%;
    height: auto;   
}

.detail-image img
{
    width: 98%;
    height: auto;
}

.second-details #id-description
{
    word-wrap: break-word;
    font-size: 18px;
    width: 98%;
}

#article-title
{
    word-wrap: break-word;
    width: 98%;
}

.scroll-comment
{
    height: 250px;
    width: 799px;
    border: 2px solid silver;
    color: wheat;
    overflow-y: scroll;
    
}

.content-commentaire
{
    height: auto;
    width: 800px;
    border: 2px solid silver;
}
.content-commentaire label{
    display: none;
}

.content-commentaire input
{
    margin-top: 10px;
    width: 93%;
    border-radius: 3px;
    margin-left: 8px;
 
}
.content-commentaire textarea{
    width: 94%;
    margin-left: 8px;

    border-radius: 5px;
    height: 95px;
    resize: none;
    margin-top: 15px;

}

#btn-coms
{
    width: 99%;
    height: 40px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    background: var(--rouge);
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    margin-bottom: 16px;
}

@media (max-width: 1009px)
{
    .detail-arts 
    {
        display: block;
        margin-left: 4px;
    }

    .scroll-comment
    {
        width: 99%;
    }
    .content-commentaire
    {
        width: 99%;
    }
}