{% extends 'base.html' %}
{% load social_share %}

{% block header %}
    <meta property="og:title" content="{{ details.name }}" />
    <meta property="og:description" content="{{ details.adress }}" />
    <!-- <meta property="og:url" content="{{ article.url_detail }}" /> -->
    <meta property="og:image" content="{{ details.image_one.url }}" />
{% endblock %}

<!-- Fichye css ki responsab li -->
<!-- static/archives/companystyle.css -->

{% block content %}

   <div class="one-content-arhives">


            <div class="infos-archives">

                        <h4>
                            <a href="{% url 'firststep' %}" style="margin-bottom: 10px; color: var(--rouge); text-decoration: underline;">
                                Page d'accueil</a>

                                <i class="fas fa-chevron-circle-right"></i>  Detail(s)

                        </h4>
                        <hr>
                        <br>

                    <div class="images_archives">
                        {% if details.image_one %}
                            <img src="{{ details.image_one.url }}" alt="">

                        {% else %}

                        {% endif %}
                    </div>
                    <h1> {{  details.name }}</h1>
                    <br>
                    <p id="detail-company"> {{ details.description }}</p>
                    <p>Tel : {{ details.phone_one  }} </p>
                    <p> Adres : {{ details.adress }} </p>


            </div>

            <!-- part 2 -->

            <div class="more-infos-archives">

                <div>

                    <p><strong>Adresse : </strong> : {{ details.adress }} </p>
                    <hr>
                    <p><strong>Numéro de téléphone : </strong>  {{ details.phone_one }} </p>
                    <p><small>Nombre de visite : <i class="fa-solid fa-eye"></i> {{ details.views }}</small></p>
                    <hr>
                    <h5>Partger Avec:</h5>
                    <hr>

                    <div class="media-none" style="display: none;">
                        {% post_to_facebook object_or_url "Post to Facebook!" %}
                        {% post_to_telegram "New Archive Place : {{ details.adress }}" %}
                        {% post_to_whatsapp object_or_url "Share via WhatsApp" %}
                    </div>
                    <div class="social-media-share-style">
                        <span><a href="{{ facebook_url }}"><i class="fab fa-facebook"></i></a></span>
                        <span><a href="{{ telegram_url }}"><i class="fab fa-telegram"></i></a></span>
                        <span><a href=" {{ whatsapp_url }} "><i class="fab fa-whatsapp"></i></a></span>
                    </div>
                </div>

            </div>
   </div>
{% endblock %}