{% extends 'base.html' %}
{% load social_share %}

{% block header %}
    <meta property="og:title" content="{{ d.title }}" />
    <meta property="og:description" content="{{ d.sub_title }}" />
    <!-- <meta property="og:url" content="{{ article.url_detail }}" /> -->
    <meta property="og:image" content="{{ d.photho1.url }}" />
{% endblock %}

{% block content %}

        <div class="detail-arts">
            <div class="second-details">
                    <p>{{ d.category }} </p>
                    <h1 id="article-title">{{ d.title }} </h1>
                    <h4> {{ d.author }} | <span> {{ d.date_created|timesince }}</span></h4>
                    <small> Publie par : {{ d.publish_by}} </small>
                    <span><span> <i class="fas fa-eye"></i> {{ d.views }}</span>

                    <hr>
                    <div class="media-none" style="display: none;">
                        {% post_to_facebook object_or_url "Post to Facebook!" %}
                        {% post_to_telegram "Nouveau article : {{ d.body }}" %}
                        {% post_to_whatsapp object_or_url "Share via WhatsApp" %}
                    </div>
                    <div class="social-media-share-style">
                        <h5 style="font-size: 14px; opacity: 0.7;">Partager  <i class="fas fa-share"></i></h5>
                        <span><a href="{{ facebook_url }}"><i class="fab fa-facebook"></i></a></span>
                        <span><a href="{{ telegram_url }}"><i class="fab fa-telegram"></i></a></span>
                        <span><a href=" {{ whatsapp_url }} "><i class="fab fa-whatsapp"></i></a></span>
                    </div>

                    <hr>
                    <br>

                    <div class="detail-image">
                        <img src="{{ d.photho1.url }}" alt="">
                    </div>
                    <br>

                    <p id="id-description"> {{ d.body }}</p>
                    <hr>
                    <p> {{ d.mail }}</p>



            </div>

            <!-- sa se pou pati adwat lan -->
            <div class="first-arts">
                <h1>Premier</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Tempore sed laborum nisi, non quia veniam. Possimus temporibus ab neque laboriosam 
                libero aperiam aliquid! Quos saepe architecto, illum mollitia velit natus!
            </div>
        </div>

{% endblock %}