{% extends 'base.html'%}

{% block content %}

    <div>
        <h3 style="color: blue;">Mon logo</h3>
    </div>
    <div>
        <h3>les categories</h3>
    </div>

    <div id="all-posts-articles">
        <div class="box-articles">
            
            {% for i in all_articles %}


            <div class="mini-box-post">
                <div class="box-images">
                    <img src="{{ i.photho1.url }}" alt="">
                </div>
                
                <h2>{{ i.title }} </h2>
                <h3> {{ i.author }} </h3>
                <p> {{ i.category }} </p>
                <p> {{ i.date_created }} </p>
            </div>
                    

                

            {% endfor %}
        </div>

        <div>
            <h2>les plus lus</h2>
        </div>
        
    </div>
{% endblock %}