{% extends 'base.html'%}



{% block content %}

       
        <div class="link-catego">
            <ul class="ul-catego">
                {% for link in all_category %}
                    <li>
                        <a href="{% url 'onecatego' link.slug %}"> {{ link.name }}</a>
                    </li>

                   
                {% endfor %}
            </ul>
        </div>

        <p style="margin: 4px">
            <span><a href="#">Accueil</a></span>
            <i class="fas fa-chevron-circle-right"></i>
        <span>Article</span>
        <i class="fas fa-chevron-circle-right"></i>
        <span><a href="#">Coin de Lecture</a></span>
        </p>
    

    <div id="all-posts-articles">
        
        <div class="box-articles">      
            {% for i in all %}
            <div class="mini-box-post">
                <div class="box-images">
                    <img src="{{ i.photho1.url }}" alt="">
                </div>
                <br>
                    
                
                <a href="{% url 'detailarticle' i.id %}"><h3>{{ i.title }}</h3></a>
                <h4 style="opacity: 0.6;"> {{ i.author }} </h4>
                <p class="cl-opacity"> {{ i.category }} </p>
                <p class="cl-opacity"> {{ i.date_created }} </p>
                
            </div>
            <hr>
            <br>
            
            {% endfor %}

            
            
            <hr>

            <div style="width: 100%;">
                <span>
                    {% if all.has_previous %}
                        <a href="?page=1"></a>
                        <a href="?page={{ all.previous_page_number }} ">
                            <h3> <i class="fas fa-angle-double-left"></i>Precedente</h3>
                        </a>
                    {% endif %}
                </span>

                  
                <span>

                    {% if all.has_next  %}
                    <a href="?page={{ all.next_page_number }}"><h3>Suivante <i class="fas fa-angle-double-right"></i></h3></a>
                    <a href="?page={{ all.paginator.num_pages }}"></a>
                    {% endif %}
                </span>
                
            </div>
        </div>

        

       <!-- DEUXIEME PARTIE -->
        <div class="media-description">
            <h1>KIKOTE</h1>

            <hr>
            <br>

            <h2>Objectif du médias</h2>
            
                        <p class="space">-Informer les internautes vis-à-vis des patrimoines matériels et immatériels  du pays. </p>
                        <p class="space">- Traiter des sujets de l'actualité de façon à permettre aux gens de décanter les informations déjà cumulées.</p>
                       <p class="space">-Mettre en valeur nos jeunes professionnels et  jeunes talents. </p>

                       <h2>principaux categories d'information</h2>

                       <p>-Actualité </p>
                       <p>- Art et Culture</p>
                
                       <p>-Sport </p>
                       
                       <p>-Économie </p>
                       
                       
                       <h2> Public cible </h2>
                       <p>-jeunes étudiants et professionnels </p>
                       <p>-entités en quête de nouveaux talents</p>
                       <p>-internautes de l'international</p>
        </div>

        
        
    </div>

    
{% endblock %}






